# Developer files and directories
key/
*.enc
*.toml
all_version/
backup/
README_for_dev.md
*.exe
!VezylTranslatorCrashHandler.exe

# Local files
*.log
local/

# Build files
build/
dist/
*.spec
_internal/
Vezyl_Translator_*/

# Large model files (>100MB)
resources/marian_models/
*.bin
resources/marian_models/**/*.bin

# test files
test_*.py
*_test.py
test/
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# IDE files
*.idea/
*.swp
*.swo